/* keyframes featured  */
@-webkit-keyframes rotate-right {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-left {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}

#circle_1 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 1025px 1025px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 24s linear 0s infinite;
}

#circle_2 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 1025px 1025px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 12s linear 0s infinite;
}

#circle_3 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 1025px 1025px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 20s linear 0s infinite;
}

#circle_4 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 1025px 1025px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 15s linear 0s infinite;
}

#circle_5 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 1025px 1025px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 18s linear 0s infinite;
}

#circle_6 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 1025px 1025px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 20s linear 0s infinite;
}